*{
  margin: 0;
  padding: 0;
}
body{
  height: auto;
  width: 100%;
}
table{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  border-style: hidden;
}
.container-table-one,
.container-table-two,
.container-table-three{
  display: block;
  background-color: rgb(71, 68, 68);
  border: 1px solid rgb(172, 169, 169);
  border-radius: 9px;
  width: 50%;
  margin: 20px;
}
td, th {
  border-bottom: 1px solid rgba(175, 175, 175, 0.521);
  text-align: left;
  color: #ffffff;
  padding: 11px;
}
.date-one{
  width: 0;
  padding: 5px;
}
.date-second{
  color: #dddddd96;
}
.date-three{
  width: 6%;
  padding: 5px;
}
.d3-input{
  padding-left: 2px;
}


