*{
    font-family: sans-serif;
}
body{
    width: 100%;
    height: auto;
}
a{
    padding-left: 40px;
    text-decoration: none;
    color: rgba(75, 93, 104, 1);
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}
header{
    width: 1120px;
    height: 60px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo-one{
    width: 49px;
    height: 35px;
    padding-right: 8rem;
}
.container-one{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
}
.menu{
    width: 322px;
    height: 30px;
    display: flex;
    justify-content: space-around;
}
.container-two{
    width: 184px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
}

.btn-one{
    border: none;
    background: #FFFFFF;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
}
