*{ 
    background-color: beige;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;   
}
body {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding: 25px  75px 75px 95px ;
    width: 1100px;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}
hr {
    border-bottom: 3px solid black;
}
img {
    
    width: 70%;
    height: 130%;
    text-align: -webkit-center;
}
h2 {
    top: 10px;
    font-size: 40px;
    font-family: sans-serif;
    }
h1 {
    top: 20px;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
}
figcaption{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
h3{
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: solid;
}
b {
    font-weight: bold;
}