* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  cursor: pointer;
  background: #111B47;
  border-radius: 2px;
  color: white;
  padding: 7px 40px;
}

button:hover {
  padding: 7px 40px;
  border: none;
  color: #111B47;
  background-color: white;
  -webkit-box-shadow: 0 0 0 3px #111B47;
          box-shadow: 0 0 0 3px #111B47;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar button {
  padding: 4px 50px;
  background-color: #111B47;
  border-radius: 2px;
  color: white;
}
.navbar a {
  color: #505F98;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-left: 20px;
}
.navbar h5 {
  font-weight: 900;
  font-size: 28px;
  line-height: 38px;
  color: #37447E;
}

.main-one {
  background: url(../img/designer_1.png);
  background-repeat: space;
  background-position-y: center;
  background-position-x: right;
}
.main-one .content-one {
  padding: 253px 0 386px 0;
  width: 100%;
  max-width: 650px;
}
.main-one h1 {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: #091133;
}
.main-one p {
  padding-bottom: 69px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #505F98;
}

.main-two .content-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 160px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-two .content-text-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-two .title-bow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 80px;
  gap: 30px;
}
.main-two h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #091133;
  padding: 16px 0 6px 0;
}
.main-two p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #5D6970;
}

.title-content h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
}
.title-content p {
  padding-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6F7CB2;
}

.main-three .content-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 109px;
  padding-bottom: 109px;
}

@media screen and (max-width: 990px) {
  .main-one {
    background-image: none;
  }
  .content-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 400px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 0 10px;
  }
  .main-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0;
  }
  .content-text-two {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .content-two-img {
    display: none;
  }
  .content-one > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    gap: 10px;
  }
}
.main-four {
  background-color: #F3F5FF;
}
.main-four .content-four {
  padding-top: 237px;
  padding-bottom: 173px;
}
.main-four .content-four-one > h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #091133;
}
.main-four .content-four-one > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #6F7CB2;
  padding-bottom: 35px;
}
.main-four .content-four-two > h2 {
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 1px;
  color: #222F65;
}
.main-four .content-four-two > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #37447E;
  padding-bottom: 60px;
}
.main-four .content-four-three > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #5D6970;
}

@media screen and (max-width: 500px) {
  .footer-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer {
  background-color: #E7ECFF;
  padding-bottom: 36px;
}
footer .footer-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 61px;
  padding-bottom: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-one p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #939EA4;
}
footer .footer-one h5 {
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447E;
}
footer .footer-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #CDD1D4;
}
footer .footer-two .footernav > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #929ECC;
  padding-left: 20px;
  padding-top: 20px;
}
footer .footer-img > img {
  padding-left: 20px;
  padding-top: 20px;
}