p{
    font-family: 'Mulish', sans-serif;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3,
h5, h6{
    font-family: 'Playfair Display', serif;
}
a{
    cursor: pointer;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-family: 'Mulish', sans-serif;
}
main{
    background-color: #F5F5F5;
}
button{
    cursor: pointer;
    font-family: 'Mulish', sans-serif;
    border: none;
}
header{
    padding: 16px 0 19px 0;
    background: #FFFFFF;
}
hr{
    border: none;
    color: #F5F5F5;
    height: 2px;
    background-color: #f5f5f5;
    max-width: 1470px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.container{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr;
    grid-template-areas: 'header-logo header-app header-items';
}
.header-logo{
    grid-area: header-logo;
}
.header-app{
    display: grid;
    grid-template-columns: repeat(3,40px);
    grid-area: header-app;
    justify-content: center;
    align-items: baseline;
}
.header-items{
    grid-area: header-items;
    display: grid;
    grid-template-columns: repeat(3,40px);
    justify-content: center;
    align-items: baseline;
}
.header-nav{
    background: #FFFFFF;
    grid-area: header-nav;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    color: #000000;
    padding: 24px 0 18px 0;
}
.navigation{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 150px);
    padding-bottom: 3px;
}
.nav2-link{
    position: relative;
    color: #000000;
    padding: 24px 0 1px 0;
}
.nav2-link::before{
    content: "";
    color: #EDA3B5;
    position: absolute;
    width: 30px;
    height: 2px;
    bottom: -2px;
    transform: scale(0);
    transition: 0.5s;
    justify-content: center;
}
.nav2-link:hover::before{
    color: #EDA3B5;
    border-bottom: 2px solid;
    width: 70px;
    height: 2px;
    transform: scale(1);
}
.slider {
    width: 650px;
    margin: 0 auto;
}
.slick-dots{
    position: absolute;
    bottom: 3px;
    display: block;
    width: 100%;
    padding: 10;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li.slick-active button:before{
    font-size:15px;
    color:#EDA3B5;
  }
.main-text{
    padding: 6% 0 9% 7%;
    display: grid;
} 
.main-text h1{
    padding-bottom: 13px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 67px;
    color: #FFFFFF;
}
.main-text span{
    padding-bottom: 34px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}
.main-text button{
    max-width: 255px;
    padding: 23px 78px;
    background: #1B2437;
    border-radius: 15px;
    font-family: 'Mulish';
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}
.cont1{
    background-image: url(./img/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 165px;
    background-size: 100%;
}
.main-collection{
    padding: 5% 0 5% 0;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: 30px 30px;
    grid-template-areas: 'section1 section2 section3' 'section1 section4 section4';
}
.section1 .first-cont{
    padding: 268px 125px 100px 32px;
}
.text-cont{
    max-width: 93px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
}
.text-cont p{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
}
.section1{
    grid-area: section1;
    background: url(./img/women_collection_category.png);
    border-radius: 16px;
    max-width: 445px;
}
.section1 h4{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 45px;
    color: #FFFFFF;
}
.section1 h6{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}
.section2{
    display: grid;
    grid-area: section2;
    background-color: #EFEFF4;
    border-radius: 16px;
    align-items: end;
}
.section2 div{
    padding: 53px 0 52px 22px;
}
.section2 h4{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 45px;
    color: #1B2437;
}
.section2 h6{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #1B2437;
}
.section3{
    background: url(./img/dresses_category.png);
    border-radius: 16px;
    grid-area: section3;
}
.section3 div{
    padding: 53px 0 97px 39px;
}
.section3 h4{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 45px;
    color: #FFFFFF;
}
.section3 h6{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}
.section4{
    background: url(./img/denim_jackets_category.png);
    border-radius: 16px;
    grid-area: section4;
}
.section4 div{
    padding: 64px 0 65px 22px;
}
.section4 h4{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 45px;
    color: #1B2437;
}
.section4 h6{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #1B2437;
}
.main-slider div:first-child{
    background: #FFFFFF;
    border-radius: 16px;

}
.slide-child{
    padding: 16px 0px 24px 0px;
    text-align: -webkit-center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}
.options{
    padding: 0px 0px 70px 0px;
}
.options-title{
    padding: 70px 0 35px 0;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 67px;
    color: #1B2437;
}
.options-card{
    display: grid;
    grid-gap: 30px 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.card{
    max-width: 350px;;
    background: #FFFFFF;
    box-shadow: 2px 5px 45px rgba(237, 163, 181, 0.25);
    border-radius: 16px;
}
.card-slide h4{
    padding: 16px 1px 0 24px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}
.card-slide p{
    padding: 8px 1px 27px 24px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}
.card-slide div{
    padding: 0px 18px 18px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}
.card-slide button{
    max-width: 153px;
    padding: 13px 13px;
    border-radius: 15px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.btn-pink{
    background: #EDA3B5;
}
.button-dark{
    background: #1B2437;
}
.card card1{
    padding: 30px 30px 30px 0;
}
.card-slide1,
.img-card{
  position: relative;
  top: 0;
  left: 0;
}
.img-item{
    position:absolute;
    top: 6%;
    left: 75%;
}
.content-map{
    padding: 0px 165px 70px 165px;
}
.contact{
    background: #FFFFFF;
    border-radius: 16px;
    padding: 0 ;
}
.content-map h1{
    padding-bottom: 35px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 67px;
    color: #1B2437;
}
.map{
    padding: 12px 12px 27px 12px;
}
.map,
.map-img{
    position: relative;
    top: 0;
    left: 0;
}
.map-img{
    width: 100%;
}
.point-img{
    position:absolute;
    top: 49%;
    left: 40%;
}
.container-contact{
    padding: 0 60px 25px 122px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
}
.container-contact a{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}
.footer-navigation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    padding: 45px 0 50px 0;
}
.footer-logo > p{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5C5C5C;
}
.home-page{
    background-color: #FFFFFF;
    justify-items: center;
    text-align: center;
}
.footer-end{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.main-collection-text > p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
}
.footer-nav{
    display: grid;
    grid-gap: 22px;
    max-height: 30px;
    justify-self: end;
}
.footer-end1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: end;
    grid-gap: 30px;
    padding: 26px 0 28px 0;
}
.footer-text-end > p{
    padding: 22px 0 22px 0;
    max-width: 255px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
    color: #8E8E93;
}
.footer-end2{
    background: #E5E5EA;
}
.menu-footer{
    display: grid;
    grid-gap: 22px;
    padding-left: 0px;
    justify-self: end;
}
.menu-footer > a {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #8E8E93;
}